.container__header{
    height: 8rem;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    padding: 0 6rem;
    justify-content: space-evenly;
    position: fixed;
    width:100%;
    z-index: 10;
    background-color: #07801C;
    top:0;
}


.logo__header{
     width: 20rem;
     height: 5rem;
}
a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}
a:hover{
    color: #000;
    transition: all 0.4s;
}

@media (max-width: 400px) {
    .link__header{
       margin: 10px;
    }
}